<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/Styles/game.css">
    <title>Blackjack</title>
</head>
<body>
  <p class="target"><%= user.email %></p>
  <div class="post-background"></div>
    <div class="group">
      <div class="dealer-both">
      <h1 class="titles">Dealer</h1>
      <div class="dealerContainer"></div>
    </div>
    <div class="player-both">
        <h1 class="titles">Player</h1>
        <div class="playerContainer"></div>
      </div>
    </div>
        <div class="buttons-container">
            <div class="button-group">
              <button class="hit" onclick="playerHit()">HIT</button>
              <button class="stand" onclick="endGame()">STAND</button>
            </div>
        </div>

        <div class="post-wrapper"><div class="post"></div></div>
        <a href="/dashboard"><div class="back-home">Back Home</div></a>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
       integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
       crossorigin="anonymous"></script>
      <script src="../public/game.js">
        
      </script>
</body>
</html>