* {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
   /* Remove default margin */
    padding: 0;
   /* Remove default padding */
    background-image: url(../../image/iStock-1218355494.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  @font-face {
    font-family: kanit;
    src: url(../../fonts/Kanit-Medium.ttf);
  }
  @font-face {
    font-family: kanitLight;
    src: url(../../fonts/Kanit-Light.ttf);
  }
.start-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .start-buttons button {
    padding: 1.5rem 7rem 1.5rem 7rem;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
  }
  .play {
    background-color: #e4d01e;
  }
  .pop-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 70rem;
    height: 50rem;
    background-color: rgba(0, 0, 0, 0.);
  }