<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/login.css">
    <title>Login</title>
</head>
<body>

    <div class="container">
        <div class="login-box">
            <h2 class="login-title">blackJack Login</h2>
            <input type="text" class="login-input" placeholder="Username">
            <input type="password" class="login-input" placeholder="Password">
            <div class="login-button-container">
                <p>Dont have an account? <a href="./signIn.html">Sign up</a></p>
                <button class="login-button">Login</button>
            </div>
        </div>
    </div>
</body>
</html>